<h2 class = "mt-4 mb-4">User details</h2>


<div class="ard card-header result-block col-sm-12 mt-2">
    <strong class="col-sm">Name: </strong> <%= @user.full_name %>
    <strong class="col-sm">Email: </strong> <%= @user.email %>
    <% if current_user.are_friends?(@user.id) %>
        <%= link_to 'Follow friend', friendships_path(friend: @user), class: "btn btn-sm btn-success ml-4", method: :post %>
    <% else %>
        <span class="badge badge-secondary"> You already follow this friend</span>
    <% end %>
</div>


<table class="table table-bordered table-hover col-sm-9 mt-4">
     <thead>
        <tr>
        <th scope="col">Ticker</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        
        </tr>
    </thead>
    <tbody>
        <% @user.stocks.each do |stock| %>
            <tr>
            <th scope="row"><%= stock.ticker %></th>
            <td><%= stock.name %> </td>
            <td><%= Stock.new_lookup(stock.ticker).last_price %> </td>
                
            </tr>
        <% end %>
    </tbody>
</table>